<p>
  {% if LICENSE %}
      {{ LICENSE }} 
  {% else %}
    {% set years = dates|groupby('date.year')|sort(reverse=False) %}
    {% set sinceYear = years|first|first|default('2014') %}
    {% set toYear = years|last|first|default('2014') %}
    Copyright &copy; {% if sinceYear == toYear %} {{ sinceYear }} {% else %} {{ sinceYear }}&ndash;{{ toYear }} {% endif%} {{ AUTHOR }} &mdash;
  {% endif %}
  <span class="credit">Generado por <a href="http://getpelican.com">Pelican</a> con el poder de <a href="http://python.org">Python</a></span>
</p>
